@font-face {
  font-family: Poppins;
  font-weight: normal;
  src: url('../fonts/Poppins/Poppins-Light.ttf') format("opentype");
}

@font-face {
  font-family: Poppins;
  font-weight: bold;
  src: url('../fonts/Poppins/Poppins-Bold.ttf') format("opentype");
}

@font-face {
  font-family: Poppins;
  font-weight: 500;
  src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format("opentype");
}

* {
  box-sizing: border-box;
  position: relative;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

body {
  margin: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1020px;
  }
}
.container {
  padding: 0 30px;
}

.container-fluid {
  padding: 0;
}

ul {
  padding: 0;
}
