@font-face {
  font-family: Poppins;
  font-weight: normal;
  src: url('../fonts/Poppins/Poppins-Light.ttf') format("opentype");
}

@font-face {
  font-family: Poppins;
  font-weight: bold;
  src: url('../fonts/Poppins/Poppins-Bold.ttf') format("opentype");
}

* {
  box-sizing: border-box;
  position: relative;
}

a,
a:hover {
  text-decoration: none;
}

body {
  margin: 0;
}
